.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(43, 41, 41);
}

.App-header {
  width: 100vw;
  text-align: center;
  color: rgb(2, 88, 2);
  align-self: center;
}

.Messages-list {
  padding: 100px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  
  border: solid 2px rgb(2, 88, 2);
  border-radius: 30px;
  
  background-color: rgb(255, 254, 254);
  box-shadow: 10px 10px 10px 10px rgb(2, 88, 2);
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 25px 10px -10px;
  box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
}

.Message-content > .username {
  display: block;
  color: rgb(2, 88, 2);
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 300px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(1, 0, 8);
  color: rgb(245, 247, 245);
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: rgb(255, 255, 255);
  color:#020000;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  margin-top: 15px;
  padding: 5px;
  font-size: 20px;
  border-radius: 1px;
  border: 2px solid rgb(2, 88, 2);
  background-color: rgba(0, 0, 0, 0.781);
  flex-grow: 1;
  color: rgba(255, 255, 255, 0.801);
}

input:focus {
  border: 2px solid  rgb(2, 88, 2) ;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.button-active {
  padding: 5px 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.781);
  color: rgba(255, 255, 255, 0.801);
  border: 2px solid rgb(2, 88, 2);
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 15px;
  opacity: 100%;
  
}

.button-disabled {
  padding: 5px 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.781);
  color: rgb(255, 255, 255);
  
  border: 2px solid  rgb(2, 88, 2);
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 15px;
  opacity: 100%;
}

.button-active:hover {
  border: 2px solid rgb(8, 240, 228);
  border-radius: 5px;
  
  margin-top: 15px;
  scale: 1.1;
}
.button-disabled:hover {
  box-shadow: 0 5px 50px 0 rgb(2, 88, 2) inset, 0 5px 50px 0 rgb(2, 88, 2), 0 5px 50px 0 rgb(2, 88, 2) inset, 0 5px 50px 0 rgb(2, 88, 2);

}

